@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

button {
  background-color: #ffd700;
  color: orangered;
  border: 2px solid #ffd700;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  scale: calc(1.05);
  background-color: #ffb700;

  box-shadow:
    0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 20% 30px 20%;
  background: #1c88e6;
  overflow: auto;
}

.body__title {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.body__content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  width: 100%;

  margin: 20px 0 20px 0;
}

.second {
  flex-grow: 1;
  width: 100%;
}

.body__text {
  margin: 20px 0 10px 0;
  color: white;
  font-size: 22px;
}

.body__input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 10px 20px;
  color: orangered;
}

.body__button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body__list {
  background: white;
  padding: 10px 20px;
  list-style: none;
  height: 100%;
  overflow: auto;
}

.body__list > li {
  color: orangered;
  font-size: 18px;
}

.select {
  background-color: #ffd700;
}

.list-test {
  display: flex;
  flex-direction: column;
  height: 100%;
}
