@media screen and (max-width: 450px) {
  #container {
    padding: 0;
  }

  button {
    border: 2px solid #ffd700;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 15px;
  }

  .body {
    width: 100%;
    height: 100vh;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .body__title {
    font-size: 28px;
  }

  .body__text {
    font-size: 20px;
  }

  .body__input {
    font-size: 15px;
    padding: 5px 5px;
    color: orangered;
  }

  .body__content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin: 20px 0 20px 0;
    width: 100%;
  }

  .body__list {
    background: white;
    height: 100%;
    padding: 10px 20px;
    max-height: 40vh;
    overflow: auto;
  }

  .body__button {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}
